<div class="input-group">
    ICONLINK<input name="CAMELCASENAME" id="CAMELCASENAME" placeholder="{{placeholder}}" (click)="openModal()" type="text"
                   class="form-control" readonly="readonly" value="{{getLabel()}}" />
    <input type="hidden" name="KEYFIELD" id="KEYFIELD" [(ngModel)]="KEYFIELD" />
    <div class="input-group-append">
        <button type="button" class="btn btn-secondary" (click)="openModal()">
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>

<HYPHENATEDNAME-modal #modal (change)="change($event)"></HYPHENATEDNAME-modal>