<div class="input-group">
    ICONLINK<input name="CAMELCASENAME" id="CAMELCASENAME" placeholder="{{placeholder}}" (click)="openModal(content)" type="text"
                   class="form-control app-select" readonly="readonly" value="{{getLabel()}}" />
    <input type="hidden" name="ngModel" id="ngModel" [(ngModel)]="ngModel" />
    <div class="input-group-append">
        <button type="button" class="btn btn-secondary" (click)="openModal(content)">
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>

<HYPHENATEDNAME-modal #modal (change)="change($event)"></HYPHENATEDNAME-modal>